<div class="card">
  <div class="card-content">
    <h5>Officer Information for <%= @officer.proper_name %></h5><br />

    <b>Current Unit:&nbsp;&nbsp;</b>
      <%= link_to @officer.unit.name, unit_path(@officer.unit) %>
      <% if @officer.user.role?(:chief) %>
        &nbsp;&nbsp;<i>*Unit Chief</i>
      <% end%>
      <% if @officer.user.role?(:commish) %>
        &nbsp;&nbsp;<i>*Commissioner</i>
      <% end%> 
      <br /><br />

    <b>Current Rank:&nbsp;&nbsp;</b>
      <%= @officer.rank %><br /><br />

    <b>SSN:&nbsp;&nbsp;</b>
      <text class = "tooltipped" data-position="top" data-tooltip="Click to Edit SSN"><%= best_in_place @officer, :ssn, as: :input %></text><br /><br />

    <b>Username:&nbsp;&nbsp;</b>
      <text class = "tooltipped" data-position="top" data-tooltip="Click to Edit Username"><%= best_in_place @officer, :username, as: :input %></text><br /><br />

    <b>Active with GCPD?&nbsp;&nbsp;</b>
      <%= @officer.active ? "Yes" : "No" %><br><br><br>
  </div>
</div>