<div data-alert data-options="animation_speed:500, animation:'fadeOut';" id = "crimeAlert" class="alert-box success hide">
  Officer Status Updated
</div>

<h4><%= state.capitalize %> Officers in GCPD</h4>

<% if officers.empty? %>
  <p>There are no <%= state.downcase %> officers at this time.</p>
<% else %>

  <table class="striped highlight">
    <thead>
      <th>Name</th>
      <th>Rank</th>
      <th>Status</th>
      <th class="align_center">Options</th>
    </thead>
    
    <% for officer in officers %>
      <tr>
        <% if can? :show, officer %>
          <td><%= link_to officer.name, officer_path(officer) %></td>
        <% else %>
          <td><%= officer.name %></td>
        <% end %>
        
        <td><%= officer.rank %></td>
        
        <% if can? :edit, officer %>
          <td class = "btn tooltipped officerStatus" data-position="right" data-tooltip="Click to Toggle Status">
            <%= best_in_place officer, :active, as: :checkbox, collection: ["Inactive", "Active"] %>
          </td>
        <% end %>
        
        <td class="align_center">
          <% if can? :edit, officer %>
            <%= link_to edit_officer_path(officer) do %>
              <i class="material-icons">edit</i>
            <% end %>
          <% end %>
          &nbsp;
          <% if can? :delete, officer %>
            <%= link_to(officer_path(officer), method: :delete, data: { confirm: 'Are you sure you wish to delete this officer?' }) do %>
              <i class="material-icons">delete</i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate officers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>