<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'My Unit', unit_path(current_user.officer.unit) %></li>
      <li><%= link_to 'All Investigations', investigations_path %></li>
      <li><%= link_to 'Criminal List', criminals_path %></li>
      <li><%= link_to 'Crime List', crimes_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  </div>
</nav>