<div class="card">
  <div class="card-content">
    <h5>BATMAN METRICS</h5><br />
    <% @total_cases = Investigation.all.size %>
    <% @batman_cases = Investigation.all.with_batman.size %>
    <% @batman_percentage = number_to_percentage(((@batman_cases.to_f/@total_cases.to_f)*100.0), precision:1)  %>

    <b>TOTAL CASES:&nbsp;&nbsp;</b>
      <%= @total_cases %>
      <br /><br />

    <b>CASES INVOLVING BATMAN:&nbsp;&nbsp;</b>
      <%= @batman_cases %>
      <br /><br />
      
    <b>BATMAN INVOLVED (%):&nbsp;&nbsp;</b>
      <%= @batman_percentage %>
      <br /><br />
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h5><center>TOP CRIMES</center></h5><br />
    
    <table class="lined">
      <thead>
        <th>Crime</th>
        <th>Number of Offences</th>
      </thead>
        <% for crime in @top_crimes %>
          <tr>
            <td>
              <%= link_to crime.name, crime_path(crime) %>
            </td>
            <td><%= crime.crime_investigations.size %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>