<div class="card">
  <div class="card-content">
    <h5><center>MOST WANTED CRIMINALS IN GCPD</center></h5><br />
    
    <table class="lined">
      <thead>
        <th>Criminal</th>
        <th>No. of Open Cases</th>
        <th>Powers?</th>
      </thead>
        <% for criminal in @most_wanted_criminals %>
          <tr>
            <td>
              <%= link_to criminal.name, criminal_path(criminal) %>
            </td>
            <td><%= criminal.suspects.size %></td>
            <td><%= criminal.enhanced_powers %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>

<%= pie_chart [["Football", 10], ["Basketball", 5]] %>

<div class="card">
  <div class="card-content">
    <h5><center>LONGEST OPEN INVESTIGATIONS</center></h5><br />
    
    <table class="lined">
      <thead>
        <th>Case</th>
        <th>Duration open</th>
        <th>Solved?</th>
      </thead>
        <% for investigation in @longest_open_investigations %>
          <tr>
            <td>
              <%= link_to investigation.title, investigation_path(investigation) %>
            </td>
            <td><%= distance_of_time_in_words(investigation.date_opened, Date.current) %></td>
            <td><%= investigation.solved %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>