<h4><%= state.capitalize %> Crimes in GCPD</h4>

<% if crimes.empty? %>
  <p>There are no <%= state.downcase %> crimes at this time.</p>
<% else %>

  <table class="striped highlight">
    <!-- Header --> 
    <thead>
      <th>Crime</th>
      <th>Level</th>
      <% if can? :edit, crimes %>
        <th class="align_center">Edit</th>
      <% end %>
    </thead>
    
    <!-- Data --> 
    <% for crime in crimes %>
      <tr>
        <% if can? :edit, crimes %>
          <td><%= best_in_place crime, :name, as: :input %></td>
          <td><%= crime.felony ? "Felony" : "Misdemeanor" %></td>
        <% else %>
          <td><%= crime.name %></td>
          <td><%= crime.felony ? "Felony" : "Misdemeanor" %></td>
        <% end %>
        
        <% if can? :edit, crimes %>
          <td class="align_center">
            <%= link_to edit_crime_path(crime) do %>
                <i class="material-icons">edit</i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate crimes, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>