
<div data-alert data-options="animation_speed:500, animation:'fadeOut';" id = "crimeAlert" class="alert-box success hide">
  Crime Status Updated
</div>

<h4><%= state.capitalize %> Crimes in GCPD</h4>

<% if crimes.empty? %>
  <p>There are no <%= state.downcase %> crimes at this time.</p>
<% else %>

  <table class="striped highlight">
    <!-- Header --> 
    <thead>
      <th>Crime</th>
      <th>Level</th>
      <% if current_user.role?(:commish) %>
        <th>Status</th>
      <% end %>
      <% if can? :edit, crimes %>
        <th class="align_center">Edit</th>
      <% end %>
    </thead>
    
    <!-- Data --> 
    <% for crime in crimes %>
      <tr>
        <% if current_user.role?(:commish) %>
          <td class = "tooltipped" data-position="top" data-tooltip="Click to Edit Crime Name"><%= best_in_place crime, :name, as: :input %></td>
        <% else %>
          <td><%= crime.name %></td>
        <% end %>
        
        <td><%= crime.felony ? "Felony" : "Misdemeanor" %></td>
        
        <% if can? :edit, crime %>
          <td class = "btn tooltipped crimeStatus" data-position="right" data-tooltip="Click to Toggle Status">
            <%= best_in_place crime, :active, as: :checkbox, collection: ["Inactive", "Active"] %>
          </td>
        <% end %>
        
        <% if can? :edit, crime %>
          <td class="align_center">
            <%= link_to edit_crime_path(crime) do %>
                <i class="material-icons">edit</i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate crimes, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>