<div data-alert data-options="animation_speed:500, animation:'fadeOut';" id = "crimeAlert" class="alert-box success hide">
  Unit Status Updated
</div>

<h4><%= state.capitalize %> Units in GCPD</h4>

<% if units.empty? %>
  <p>There are no <%= state.downcase %> units at this time.</p>
<% else %>

  <table class="striped highlight">
    <thead>
      <th>Unit</th>
      <% if current_user.role?(:commish) %>
        <th>Status</th>
      <% end %>
      <% if can? :read, units %>
        <th class="align_center">Options</th>
      <% end %>
    </thead>
    
    <% for unit in units %>
      <tr>
        <% if can? :show, unit %>
          <td><%= link_to unit.name, unit_path(unit) %></td>
        <% else %>
          <td><%= unit.name %></td>
        <% end %>
        
        <% if current_user.role?(:commish) %>
          <td class = "btn tooltipped unitStatus" data-position="right" data-tooltip="Click to Toggle Status">
            <%= best_in_place unit, :active, as: :checkbox, collection: ["Inactive", "Active"] %>
          </td>
        <% end %>
        
        <!-- Edit and Delete Paths -->
        <td class="align_center">
          <% if can? :edit, unit %>
            <%= link_to edit_unit_path(unit) do %>
              <i class="material-icons">edit</i>
            <% end %>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp; 
          <% if can? :delete, unit %>
            <%= link_to(unit_path(unit), method: :delete, data: { confirm: 'Are you sure you wish to delete this unit?' }) do %>
              <i class="material-icons">delete</i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate units, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>