<h4><%= state.capitalize %> Criminals in GCPD</h4>

<% if criminals.empty? %>
  <p>There are no <%= state.downcase %> criminals at this time.</p>
<% else %>

  <table class="striped highlight">
    <!-- Header --> 
    <thead>
      <th>Name</th>
      <th>Felon Status</th>
      <% if current_user.role? :commish or current_user.role? :chief %>
        <th class="align_center">Options</th>
      <% end %>
    </thead>
    
    <!-- Data --> 
    <% for criminal in criminals %>
      <tr>
        <td><%= link_to criminal.name, criminal_path(criminal) %></td>
        <td><%= criminal.convicted_felon? %></td>
        <% if current_user.role? :commish or current_user.role? :chief %>
          <td class="align_center">
          <%= link_to edit_criminal_path(criminal) do %>
                <i class="material-icons">edit</i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp; 
            <%= link_to(criminal_path(criminal), method: :delete, data: { confirm: 'Are you sure you wish to delete this criminal?' }) do %>
                <i class="material-icons">delete</i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate criminals, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>